<div class="test">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.username}} on {{format_date date_created}}</p>
</div>

{{#if logged_in}}
<div>
    <form class="new-comment-form" data-blogid={{id}}>
        <div>
            <textarea class="ml=5" id="comment_description" name="comment-body"></textarea>
        </div>
        </form>
</div>
{{/if}}

{{#each comments as |comment|}}
<div>
<p>{{comment.comment_description}}</p>
</div>
{{/each}}